body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: #199344;
  background-size: contain;
  font-size: 100px;
  font-family: bold;

}

.box1{
position: center;
top: 50vh;
color: black;
width: 50%auto;
height: 10%auto;
top: 100px;
right: 100px
border: solid;
background-color: blue;
font-size: 50px;



}

.containter{
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  width: 1000px;
  height: 1000px;
  top: 100px;
  bottom: 50px;
  background: pink;
  border-color: black;
  border-style: dotted;

}
.containter img{
margin-left: 25%;
margin-top: 5%;
  top:100px;
  left: 100px;
  width: 50%;
  height: 60%;
  border-color: black;
  border-style: dotted;

}
.button{
font-size-adjust: auto;
  font-size: 20px;
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  top: 100px;
  bottom: 50px;
  background: pink;

}

.button:hover{
color: blue;

}
