body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  background-size: contain;
  font-size: 90px;
  font-family: bold;
  border-style: solid;
  border-color: white;

}

.navbar{
width: 990px;
height: 100px;
border: solid;
border-color: black;
background-color: #005aff;
font-size: 50px;

}

.containter{
  position: relative;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 15px;
  width: 990px;
  height: 1000px;
  top: 100px;
  bottom: 50px;
  background: #f37070;
  border-color: black;
  border-style: solid;

}
.containter img{
margin-left: 25%;
margin-top: 5%;
  top:100px;
  left: 100px;
  width: 50%;
  height: 60%;
  border-color: black;
  border-style: solid;

}
.button{
  font-size: 20px;
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  top: 100px;
  bottom: 50px;
  background: #f37070;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
}

.smallbox{
  font-size: 20px;
  margin-left: 50px;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  top: 100px;
  bottom: 50px;
  border-style: solid;
  border-color: black;
  background: #f37070;
;
}

.button:hover{
color: blue;

}
