h1{
  color: black;
  font-family: monospace;


}
.box{
  color: green;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
  position:fixed;
}
h2{
  color: red;
  font-style: italic;
  background-color: yellowgreen;
}
body{
  background-color: red;
}

.header{
  box-sizing:25px;
  color: black;
  border-width: 10px;
  border-style:double;
  background-color: inherit;
  bo

}

.header2{
  box-sizing:10px;
  color: white;
  border-width: thin;
  border-style: rigid;
  background-color: orange;
}s

.hands{
  position: relative;
  border-top: 50px;
  border-bottom: 100px;
  border-left: 100px;
  border-right: 50%;
}
