body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
  background-size: contain;
  font-size: 90px;
  font-family: bold;
  font color: white;
}
p{
  color: white;
  font-family: sans-serif;
}
.navbar{
width: inherit;
height: 75px;
border: solid;
border-color: black;
background-color: #005aff;
font-size: 50px;
font-family: sans-serif;
}
.dropbtn{
  margin-left: 300px;
  background-color: green:
}
.containter{
  position: relative;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 40px;
  width: inherit;
  height: 600px;
  top: 100px;
  bottom: 50px;
  background: #FFD7C9;
  border-color: white;
  border-style: solid;
}
.containter img{
  margin-left: 2.5%;
  margin-top: 1.5%;
  margin-top: 2.v;
  margin-bottom: inherit;
  top:inherit;
  left: inherit;
  width:inherit;
  height: inherit;
  border-color: black;
  border-style: solid;
}
.Conatainer0{
  position: relative;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 40px;
  width: inherit;
  height: 600px;
  top: 100px;
  bottom: 50px;
  background: #FFD7C9;
  border-color: white;
  border-style: solid;
}
.Conatainer0 img{
  margin-left: 2.5%;
  margin-top: 1.5%;
  margin-top: 2.v;
  margin-bottom: inherit;
  top:inherit;
  left: inherit;
  width:inherit;
  height: inherit;
  border-color: black;
  border-style: solid;
}
.Container1{
  position: relative;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 40px;
  width: inherit;
  height: 600px;
  top: 100px;
  bottom: 50px;
  background: #FFD7C9;
  border-color: white;
  border-style: solid;
}
.Container1 img{
  margin-left: 2.5%;
  margin-top: 1.5%;
  margin-top: 2.v;
  margin-bottom: inherit;
  top:inherit;
  left: inherit;
  width:inherit;
  height: inherit;
  border-color: black;
  border-style: solid;
}
.button:hover{
color: blue;

}
