h1{
  color: blue;
  font-family: cursive;


}
.box{
  color: green;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
}
h2{
  color: red;
  font-style: italic;
  background-color: yellowgreen;
}
body{
  background-color: red;
}
